{% extends 'store/base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}

<div class="auth-container">
    <div class="auth-box">

        <h2>Create Account</h2>
        <p>Start your learning journey</p>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit" class="auth-btn">
                <a href="{% url 'settings' %}">
                Sign Up
            </button>
            </a>
        </form>

        <div class="auth-link">
            Already have an account?
            <a href="{% url 'login' %}">Login</a>
        </div>

    </div>
</div>

{% endblock %}
